/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#F2F2F2] w-screen  transition-colors duration-[150ms] ease-linear ;
}
body.dark {
    @apply bg-[#111111];
}